*{ margin: 0; padding: 0; vertical-align: top; }

img { max-width: 100%; height: auto; }



.landing-wrap {
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.landing-wrap .link_a {
    position: absolute;
    right: 30px; bottom: 30px;
}

.landing-wrap .link_a > a >  img {
    height: 80px;
}

/*손철훈 개발자가 수정한 코드*/

.landing-wrap .section-02 {
    background: url("../image/ccl)main_02.png") no-repeat center;
    background-size: cover;
}

.mySwiper_wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mySwiper{
    overflow-y: hidden;
    background-color: white;
    padding: 30px;
}


@media (min-width: 768px) {
    .mySwiper{
        margin-top: 25%;
        margin-bottom: 5%;
        width: 50%;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .mySwiper{
        margin-top: 25%;
        margin-bottom: 5%;
        width: 50%;
        height: 60px;
    }
}

/*손철훈 개발자가 수정한 코드*/




/*.landing-wrap .section-02 .mySwiper{*/
/*    height: 100%;*/
/*    overflow: hidden;*/

/*    display: flex;*/
/*    justify-content: center;*/

/*}*/

/*.landing-wrap .section-02 .mySwiper .swiper-wrap {*/

/*    position: absolute;*/
/*    left: 50%; right: 50%;*/
/*    top: 70%;*/

/*    transform: translate(-50%,-50%);*/

/*    background-color: #fff;*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    overflow: hidden;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

.landing-wrap .section-02 .mySwiper .swiper-wrap .swiper-slide {
    border-bottom: 1px solid #ccc;
}