.wrapper, .nav-wrapper{
    max-width: 1920px;
}

.wrapper, .contents-wrapper, .content-wrapper{
    width: 100%;
}

.nav-wrapper{
    background-color: unset;
}

.cursor_pointer{
    cursor: pointer;
}