body {
  background: url('./images/bg.jpeg') top center no-repeat;
  
  background-size: cover;
}

/* 폰트 사이즈, 마진, 패딩 > vw 단위 사용권장 */
.main,
.btn,
.info {
  left: 50%;
  transform: translateX(-50%);
}
.main {
  position: relative;
  top: 0; left: 50%;
  padding: 8vw 0 0;
  max-width: none;
  max-height: 100%;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main img {
  display: block;
  width: 100%;
  padding: 0 6vw 0;
}
.live_date {
  color: #fff;
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
  padding: 3vw 0;
}
.sec_03 {
  margin: 6vw 0 0;
}
.wrap02 {
  background: #181E2A;
  color: #fff;
  font-size: 2.5vw;
  text-align: center;
  padding: 5vw;
}
.progress_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vw;
}
p {
  padding: 0;
  /* margin: 2vw 0 0; */
}
.button {
  opacity: 1;
}
.progress_box {
  position: relative;
  overflow: hidden;
}
.slide_01,
.slide_02,
.slide_03,
.slide_04 {
  width: 100%;
  text-align: center;
}
.slide_02,
.slide_03,
.slide_04 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.slide_01 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.slide_02,
.slide_03,
.slide_04 {
  left: 200%;
}
.count_box {
  border: 1px solid #fff;
  padding: 1.5vw;
}
.slide_02 div:last-child,
.slide_03 > div:first-child {
  margin: 3vw 0 0;
  font-size: 3vw;
}
.count_box > div:last-child:not(.count_notice) {
  font-size: 1.5vw;
}
.slide_02 {
  color: #fff;
}
.slide_03 > div:first-child {
  margin: 0 0 2.5vw;
}
.timer {
  font-weight: bold;
  display: inline-block;
  width: 9vw;
  text-align: right;
}
.count_notice {
  font-weight: bold;
  color: skyblue;
  font-size: 2vw;
  margin: 1vw 0 0;
  display: none;
}
.progress-wrap {
  border: 3px solid dimgray;
}
.progress {
  width: 100%;
  height: 50px;
}
.progress-wrap {
  background: linear-gradient(to right, #1a73e8, #449ef0 90%, #49a3f1);
  margin: 0 0 2vw;
  overflow: hidden;
  position: relative;
}
.progress-wrap > .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
.footer {
  background: #181E2A;
  color: #fff;
  text-align: center;
  font-size: 2vw;
  padding: 2vw;
  width: 100%;
}
.progress_sec {
  width: 100%;
}
.slide_03 {
  padding: 0 6vw 0;
  color: #fff;
}
/* 웹 */ 
@media all and (min-width:768px) { 
  .main {
    width: 100%;
  }
  .main > div:not(.footer) {
    width: 75%;
  }
  .svg_pc {
    display: block;
  }
  .svg_mo {
    display: none;
  }
} 
/* 태블릿  */
@media all and (min-width:480px) and (max-width:767px) {
  
} 
/* 모바일 */ 
@media all and (max-width:600px) {
  .main {
    width: 100%;
  }
  .slide_02 div:last-child, .slide_03 > div:first-child:not(.count_box) {
    margin: 3vw 0 0;
    font-size: 10vw;
  }
  .slide_03 > div:first-child,
  .count_notice   {
    font-size: 5vw;
  }
  .footer {
    font-size: 3vw;
    padding: 5vw;
  }
  .timer {
    width: 17vw;
  }
  .live_date {
    font-size: 6vw;
  }
  .progress_box {
    height: 60vw;
  }
  .svg_pc {
    display: none;
  }
  .svg_mo {
    display: block;
  }
}
