.wrapper, .nav-wrapper{
    max-width: 1920px;
}

.wrapper, .contents-wrapper, .content-wrapper, .input_form_item_wrapper{
    width: 100%;
}

.nav-wrapper{
    background-color: unset;
}

.cursor_pointer{
    cursor: pointer;
}


.input_form_wrapper input[type='number']::-webkit-outer-spin-button,
.input_form_wrapper input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input_form_wrapper input[type='number'] {
    -moz-appearance: textfield;
}