.swiper{
    background-color: #f2f2f2;
}

.input_form_wrapper, .footer{
    background-color: #091618;
}

.input_form_item, .footer > p{
    color: white;
}

.con02_01, #con06_wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.input_form_item input{
    text-align: center;
}

@media (max-width: 768px) {
    .pc_con{
        display: none;
    }

    .mo_con{
        display: block;
    }

    .con02_01{
        background-image: url("../img/mo/con02_01_bg.gif");
    }

    #con06_wrapper{
        background-image: url("../img/mo/con06_bg.png");
    }

    .input_form_wrapper{
        width: 88%;
        margin-top: 10%;
        border-radius: 13px;
    }

    .input_form_item > label{
        font-size: clamp(1.5rem, 4.7vw, 10rem)
    }

    .input_form_item input{
        font-size: clamp(1rem, 3.7vw, 10rem);
        border-radius: 13px;
    }

    .agree_wrapper{
        font-size: clamp(0.5rem, 2vw, 10rem);
    }

    #agree{
        width: clamp(0.5rem, 2vw, 10rem);
        height: clamp(0.5rem, 2vw, 10rem);
    }
}

@media (min-width: 768px) {
    .mo_con{
        display: none;
    }

    .pc_con{
        display: block;
    }

    .con02_01{
        background-image: url("../img/pc/con02_01_bg.gif");
    }

    #con06_wrapper{
        background-image: url("../img/pc/con06_bg.png");
    }

    .input_form_wrapper{
        width: 50%;
        margin-top: 5%;
        border-radius: 13px;
        padding : 2% 5%;
    }

    .input_form_item > label{
        font-size: clamp(1rem, 2.3vw, 4.6rem)
    }

    .input_form_item input{
        font-size: clamp(1rem, 1.8vw, 3.6rem);
        border-radius: 13px;
    }

    .agree_wrapper{
        font-size: clamp(0.5rem, 1vw, 2rem);
    }

    #agree{
        width: clamp(0.5rem, 1vw, 10rem);
        height: clamp(0.5rem, 1vw, 10rem);
    }

}