/*pc버전*/
@media (min-width: 1024px) {
    .right_wrapper {
        width: 20%;
        bottom: 4%;
    }

    .con01_01{
        width: 50%;
        margin: 17% 0;
    }

    .con02_01{
        width: 50%;
        margin: 10% 0;
    }

    .con03_wrapper{
        background-size: contain;
    }

    .con03_01{
        margin-top: 10%;
        width: 50%;
    }

    .con03_02{
        margin-top: 3%;
        margin-bottom: 10%;
        width: 25%;
    }

    .con04_01{
        width: 50%;
        margin: 9% 0;
    }

    .con05_01{
        width: 50%;
        margin: 11% 0;
    }

    .con06_01{
        width: 50%;
        margin-top: 11%;
        margin-bottom: 3%;
    }

    .inputFormWrapper input, .inputFormWrapper select, .inputFormWrapper label{
        font-size: clamp(0.4rem, 1.6vw, 1.8rem);
    }

    .label_span {
        font-size: clamp(0.1rem, 1.5vw, 2rem);
    }

    .agree_text{
        font-size: clamp(0.4rem, 2vw, 2.5rem);
    }

    #agree{
        width: clamp(0.4rem, 2vw, 2.5rem);
    }

    .con06_02{
        width: 50%;
    }
}

/*테블릿 버전*/
@media (min-width: 768px) and (max-width: 1024px) {
    .right_wrapper {
        width: 30%;
        bottom: 2%;
    }

    .con01_01{
        width: 70%;
        margin: 10% 0;
    }

    .con02_01{
        width: 50%;
        margin: 10% 0;
    }

    .con03_wrapper{
        background-size: contain;
    }

    .con03_01{
        margin-top: 10%;
        width: 50%;
    }

    .con03_02{
        margin-top: 3%;
        margin-bottom: 9%;
        width: 25%;
    }

    .con04_01{
        width: 50%;
        margin: 9% 0;
    }

    .con05_01{
        width: 50%;
        margin: 11% 0;
    }

    .con06_01{
        width: 70%;
        margin-top: 11%;
        margin-bottom: 3%;
    }

    div.inputFormWrapper{
        padding: 2rem;
        margin: 1rem;
    }

    .label_span {
        font-size: clamp(0.1rem, 1.5vw, 2rem);
    }

    .agree_text{
        font-size: clamp(0.4rem, 2vw, 2.5rem);
    }

    #agree{
        width: clamp(0.4rem, 2vw, 2.5rem);
    }

    .con06_02{
        width: 70%;
    }
}

/*모바일버전*/
@media (max-width: 768px) {
    .right_wrapper {
        width: 30%;
        bottom: 0.5%;
    }

    .con01_01{
        width: 90%;
        margin: 20% 0;
    }

    .con02_01{
        width: 90%;
        margin: 10% 0;
    }

    .con03_wrapper{
        background-size: cover;
    }

    .con03_01{
        margin-top: 10%;
        width: 90%;
    }

    .con03_02{
        margin-top: 7%;
        margin-bottom: 7%;
        width: 50%;
    }

    .con04_01{
        width: 90%;
        margin: 7% 0;
    }

    .con05_01{
        width: 80%;
        margin: 11% 0;
    }

    .con06_01{
        width: 70%;
        margin-top: 11%;
        margin-bottom: 3%;
    }

    .con06_01{
        width: 70%;
        margin-top: 11%;
        margin-bottom: 3%;
    }

    div.inputFormWrapper{
        padding: 2rem;
        margin: 1rem;
    }

    span.agree_text{
        font-size: clamp(0.4rem, 3vw, 3rem);
    }

    input#agree{
        width: clamp(0.4rem, 3vw, 3rem);
        height: clamp(0.4rem, 3vw, 3rem);
    }

    .con06_02{
        width: 90%;
    }
}

.right_wrapper{
    max-width: 384px;
}

.con01_wrapper{
    background-size: cover;
    background-image: url("../img/con01_bg.png");
}

.con02_wrapper{
    background-size: cover;
    background-image: url("../img/con02_bg.png");
}

.con03_wrapper{
    background-image: url("../img/con03_bg.png");
}

.con04_wrapper{
    background-size: cover;
    background-image: url("../img/con04_bg.png");
}

.con05_wrapper{
    background-size: cover;
    background-image: url("../img/con05_bg.png");
}

.con06_wrapper{
    background-size: cover;
    background-image: url("../img/con06_bg.png");
}

.input_contents_wrapper input, .input_contents_wrapper  label, .input_contents_wrapper  select{
    padding: 1rem;
    margin: 1rem 0.5rem;
    height: 4.2rem;
    box-sizing: border-box;
}

label.radio_label, label.counsel_type_label{
    display: flex;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border:1px solid black;
    font-size: clamp(0.8rem, 1.8vw, 2rem) !important;
    padding : 0 0.5rem !important;
    height: 3.2rem !important;
}

.radio_label.checked, .counsel_type_label.checked{
    background-color: #555;
    border: none;
    color: white;
}

.label_span, .counsel_type_label{
    white-space: nowrap;
    margin: auto;
}

.swiper_01 {
    width: 96%;
    min-width: 172px;
    min-height: 200px;
    max-width: 482px;
    max-height: 561px;
    padding : 2%;
}

.swiper-wrapper{
    width: 100%;
}

.swiper-wrapper img{
}

#agree_view{
    font-weight: bold;
}

input.input_content, select.input_content{
    border-radius: 2rem;
    border: black 1px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: clamp(1rem, 1.8vw, 2rem) !important;
}

.counsel_type_label {
    margin-top: 1rem;
}