@media (min-width: 1024px) {
    .content01{
        background-image: url('../image/01.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 505px;
    }
    .content02{
        background-image: url('../image/02.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 544px;
    }
    .content03{
        background-image: url('../image/03.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 817px;
    }
    .content04{
        background-image: url('../image/04.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 304px;
    }
    .content05{
        background-image: url('../image/05.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 544px;
    }
    .content06{
        background-image: url('../image/06.png');
        background-repeat: no-repeat;
        background-size: auto;
        width: 1024px;
        height: 545px;
    }
}
@media (max-width: 1023px) {
    .content01{
        background-image: url('../image/01.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 505px;
    }
    .content02{
        background-image: url('../image/02.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 544px;
    }
    .content03{
        background-image: url('../image/03.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 817px;
    }
    .content04{
        background-image: url('../image/04.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 304px;
    }
    .content05{
        background-image: url('../image/05.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 544px;
    }
    .content06{
        background-image: url('../image/06.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 545px;
    }
}

@media (max-width: 768px) {
    .content01{
        background-image: url('../image/01_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
    .content02{
        background-image: url('../image/02_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
    .content03{
        background-image: url('../image/03_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
    .content04{
        background-image: url('../image/04_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
    .content05{
        background-image: url('../image/05_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
    .content06{
        background-image: url('../image/06_m.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-size: auto;*/
    }
}