body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

@keyframes floater {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8%);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(.9);
        opacity: .9;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.floater {
    animation: floater 1.5s infinite;
}

.pulse{
    animation: pulse 2s infinite;
}

.cursor {
    cursor: pointer;
}

.landing-wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

.lading-topper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0; top: 0;
    z-index: 999;
}

.lading-topper img{
    width: 100%;
    max-width: 1920px;
}

.link_a {
    position: fixed;
    max-width: 220px;
    width: 30%;
    right: 20px; bottom: 10px;
    z-index: 9999;
}

.link_a > img{
    width: 100%;
    height: auto;
}

.landing-wrap .section{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-01{
    background: url("../image/contents_01_bg.png") center top no-repeat;
    background-size: 100%;
}

.section-03{
    background-color: #f4f4f4;
    margin-top: 7%;
}

.section-04{
    background-color: #3681f8;
}

.section-05{
    background: url("../image/contents_05_bg.png") center top no-repeat;
    background-size: cover;
}

.mySwiper_wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mySwiper{
    overflow-y: hidden;
    background-color: white;
    padding: 30px;
}

.swiper-slide{
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: solid #EFEFEF 1px;
}

.vertical-banner-item{
    font-size: clamp(0.4rem, 2vw, 2rem);
    margin: 0 1%;
    font-weight: bold;
}

.item-date{
    color:#A3A3A3
}

.section-07{
    background: url("../image/contents_07_bg.png") center top no-repeat;
    /*background-color: #eef7ff;*/
    background-size: cover;
}

form input{
    font-size: clamp(1.2rem, 3vw, 3rem);
}

.agreeText{
    font-size: clamp(0.6rem, 2vw, 3rem);
    white-space: nowrap;
}

footer{
    color: #F2F2F2;
    font-size: 13px;
    background-color: #424242;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .pc_contents{
        display: block;
    }

    .mo_contents{
        display: none;
    }

    .section-01{
        margin-top: 7%;
    }
    .contact-01-01{
        margin-top: 10%;
        width: 55%;
    }

    .contact-01-02{
        margin-top: 7%;
        width: 70%;
    }

    .contact-02-01{
        margin-top: 10%;
        width: 55%;
    }

    .contact-02-02{
        margin-top: 9%;
        margin-bottom: 10%;
        width: 55%;
    }

    .contact-03-01{
        margin-top: 10%;
        width: 55%;
    }

    .contact-03-02{
        margin-top: 6%;
        margin-bottom: 10%;
        width: 80%;
    }

    .contact-04-01{
        margin-top: 7%;
        width: 70%;
    }

    .contact-04-02{
        margin-top: 6%;
        margin-bottom: 10%;
        width: 70%;
    }

    .contact-05-01{
        margin-top: 7%;
        margin-bottom: 3%;
        width: 50%;
    }

    .contact-06-01{
        margin-top: 7%;
        width: 50%;
    }

    .contact-06-02{
        margin-top: 4%;
        margin-bottom: 10%;
        width: 70%;
    }

    .contact-07-01{
        margin-top: 9%;
        width: 40%;
        margin-bottom: 5%;
    }

    .contact-07-02{
        margin-top: 4%;
        margin-bottom: 10%;
        width: 50%;
    }

    .mySwiper{
        margin-bottom: 5%;
        width: 50%;
        height: 300px;
    }

    .inputForm-wrapper{
        width: 100%;
        max-width: 50%;
        background-color: #fff;
        padding: 3%;
    }

    .inputForm-wrapper > form > input {
        background: #f2f2f2;
        border: none;
        padding: 3%;
        width: 100%;
        display: block;
        margin: 15px 3px;
    }

    .dbInput-submit {
        width: 70%;
        margin-top: 1%;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 10px 30px;
        border: 1px solid #888;
        width: 40%;
        border: none;
    }
}

@media (max-width: 768px) {
    .mo_contents{
        display: block;
    }

    .pc_contents{
        display: none;
    }

    .section-01{
         margin-top: 12%;
    }

    .contact-01-01{
        margin-top: 10%;
        width: 55%;
    }

    .contact-01-02{
        margin-top: 7%;
        width: 70%;
    }

    .contact-02-01{
        margin-top: 12%;
        width: 70%;
    }

    .contact-02-02{
        margin-top: 7%;
        margin-bottom: 10%;
        width: 70%;
    }

    .contact-03-01{
        margin-top: 10%;
        width: 70%;
    }

    .contact-03-02{
        margin-top: 6%;
        margin-bottom: 10%;
        width: 90%;
    }

    .contact-04-01{
        margin-top: 7%;
        width: 100%;
    }

    .contact-04-02{
        margin-top: 6%;
        margin-bottom: 10%;
        width: 90%;
    }

    .contact-05-01{
        margin-top: 7%;
        margin-bottom: 3%;
        width: 70%;
    }

    .contact-06-01{
        margin-top: 10%;
        width: 60%;
    }

    .contact-06-02{
        margin-top: 4%;
        margin-bottom: 10%;
        width: 90%;
    }

    .contact-07-01{
        margin-top: 9%;
        width: 70%;
        margin-bottom: 5%;
    }

    .contact-07-02{
        margin-top: 4%;
        margin-bottom: 10%;
        width: 90%;
    }

    .mySwiper{
        margin-bottom: 5%;
        width: 50%;
        height: 80px;
        font-size: 0.75em;
    }

    .inputForm-wrapper{
        width: 100%;
        max-width: 80%;
        background-color: #fff;
        padding: 3%;
    }

    .inputForm-wrapper > form > input {
        background: #f2f2f2;
        border: none;
        padding: 3%;
        width: 100%;
        display: block;
        margin: 5px 3px;
    }

    .dbInput-submit {
        width: 100%;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 10px 30px;
        border: 1px solid #888;
        width: 50%;
        border: none;
    }

    .modal .modal-content > p {
        font-size: 13px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
}


/*.contact-04-02{*/
/*    margin-top: 6%;*/
/*    margin-bottom: 10%;*/
/*    width: 70%;*/
/*}*/


